@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk";
}

html,
body {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  max-width: 600px;
}

.titleHeading {
  text-align: center;
  margin-block: 1rem;
  font-size: 2.5rem;
  color: white;
  text-shadow: 0 2px 20px rgba(0, 247, 255, 0.5);
}

.titleSubHeading {
  color: white;
  text-align: center;
  margin-block: 1rem;
  font-size: 0.9rem;
  opacity: 0.8;
}

.passwordForm {
  padding: 40px;
  background: linear-gradient(90deg, #0888c4 0%, #1cb5e0 100%);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 6px 4px #0f0f0f;
}

.passOutputDiv {
  position: relative;
  display: flex;
  flex-direction: column;
}

.passlabel {
  color: rgba(255, 255, 255, 0.664);
}

#password {
  border: 1px solid transparent;
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  background: #2c2c2c;
  color: #0dc5b6;
  letter-spacing: 0.09em;
  font-size: 24px;
}

#password:focus {
  border: 1px solid rgb(35, 35, 233);
}

.passLength {
  padding: 10px 20px;
  background-color: #2c2c2c;
  border-radius: 8px;
  color: #0dc5b6;
  border: 1px solid #0dc5b6;
}

.copyBtn {
  position: absolute;
  color: #0dc5b6;
  bottom: 8px;
  right: 10px;
  padding: 5px;
  font-size: 1.5rem;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.rangeDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.passwordRangeLabel {
  color: rgba(255, 255, 255, 0.664);
}

#passwordRange {
  cursor: pointer;
  accent-color: #066bde;
}

.checkBoxContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.upperCheck,
.lowerCheck,
.numberCheck,
.symbolCheck {
  padding: 10px;
  border-radius: 4px;
  background-color: #2c2c2c;
  color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
  accent-color: #0dc5b6;
  border: 1px solid transparent;
  transition: border 0.3s ease-in-out;
}

.upperCheck:hover,
.lowerCheck:hover,
.numberCheck:hover,
.symbolCheck:hover {
  border: 1px solid #0dc5b6;
}

.generateBtn {
  padding: 20px;
  cursor: pointer;
  background-color: #02bdad;
  color: white;
  border-radius: 10px;
  font-size: 1rem;
  outline: none;
  border: none;
  box-shadow: 0 4px 4px black;
  opacity: 0.8;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
}

.generateBtn:hover {
  transform: scale(1.01);
  opacity: 1;
}

.arrowIcon {
  margin-right: 8px;
}
